<section class="buttons header" id="buttons">Buttons</section>
<section class="buttons body">
	<div class="paragraphs">
		<h1>Button types</h1>
		<p>Ниже указаны виды кнопок, используемые в SHELL 2.0 и CMS. Для удобства показаны все возможные состояния (standart, hover, active, disabled) и цветовые решения в зависимости от выбранной цветовой схемы, а так же универсальные решения.</p>
		<p>Для удобства рядом с кнопкой реализован SCSS код.</p>
		<h2>Simple button</h2>
		<p>Обычные кнопки, которые можно использовать для чего угодно. Никаких иконок, только текст и анимация.</p>
	</div>
	<div class="buttons-layout">
		<div class="button-card">
			<span class="simple-button normal">Normal</span>
			<span class="simple-button focused">Focused</span>
			<span class="simple-button pressed">Pressed</span>
			<span class="simple-button disabled">Disabled</span>
		</div>

		<section class='code-editor'>
			<div class='embed-nav'>
				<ul>
					<li><a class='' href='#css-box' id='css-link'>SCSS</a></li>
				</ul>
				<div class='logo-wrap'>
					<a href='#' target='_blank' title='Edit on CodePen'>
						Edit on codepen
					</a>
				</div>
			</div>
    <pre class='line-numbers'>
      <code class='language-scss'>
				.simple-button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 155px;
				height: 40px;
				border-radius: 2px;
				font-size: 16px;
				font-weight: 500;
				color: #9d1e63;
				background: white;
				box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
				text-transform: uppercase;
				cursor: pointer;
				transition: all ease .25s;
				margin: 0 20px;
				}
				.normal {
				background-color: #ffffff;
				}
				.focused {
				background-color: #EEEEEE;
				}
				.pressed {
				background-color: #E0E0E0;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
				}
				.disabled {
				opacity: 0.65;
				color: #757575;
				cursor: default;
				}
			</code>
    </pre>
		</section>

	</div>
	<div class="paragraphs"><h2>Simple button blue</h2></div>
	<div class="buttons-layout ">
		<div class="button-card blacked">
			<span class="simple-button-blue normal-blue">Normal</span>
			<span class="simple-button-blue focused-blue">Focused</span>
			<span class="simple-button-blue pressed-blue">Pressed</span>
			<span class="simple-button-blue disabled-blue">Disabled</span>
		</div>
		<div class="button-code">
			<div class="button-code-header">SCSS</div>
						<pre>
							<code>
								<span class="token">.simple-button-blue</span> <span class="punctuation">{</span>
								<span class="property">display: </span><span class="function">flex;</span>
								<span class="property">justify-content:</span> <span class="function">center;</span>
								<span class="property">align-items: </span><span class="function">center;</span>
								<span class="property">width: </span><span class="function">155px;</span>
								<span class="property">height: </span><span class="function">40px;</span>
								<span class="property">border-radius:</span> <span class="function">2px;</span>
								<span class="property">font-size: </span><span class="function">16px;</span>
								<span class="property">font-weight: </span><span class="function">500;</span>
								<span class="property">color: </span><span class="function">#9d1e63;</span>
								<span class="property">background:</span> <span class="function">white;</span>
								<span class="property">box-shadow:</span><span class="function">0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 <br> rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);</span><br>
								<span class="property">text-transform: </span> <span class="function">uppercase;</span>
								<span class="property">cursor: </span><span class="function">pointer;</span>
								<span class="property">transition: </span> <span class="function">all ease .25s;</span>
								<span class="token">&:hover</span><span class="punctuation">{</span>
								<span class="property">background-color:</span> <span class="function">#ffffff;</span>
								<span class="punctuation">}</span>
								<span class="token">&:active</span> <span class="punctuation">{</span>
								<span class="property">box-shadow:</span> <span class="function">0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px <br> rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);</span>
								<span class="property">background-color:</span> <span class="function">#E0E0E0;</span>

								<span class="punctuation">}</span>
								<span class="punctuation">}</span>

								<span class="token">.disabled</span> <span class="punctuation">{</span>
								<span class="property">opacity:</span> <span class="function">0.65;</span>
								<span class="property">color:</span> <span class="function">#757575;</span>
								<span class="punctuation">}</span>
							</code>
						</pre>
		</div>
	</div>
	<div class="paragraphs"><h2>Simple button burgundi</h2></div>
	<div class="buttons-layout ">
		<div class="button-card">
			<span class="simple-button-burgundi normal-burgundi">Normal</span>
			<span class="simple-button-burgundi focused-burgundi">Focused</span>
			<span class="simple-button-burgundi pressed-burgundi">Pressed</span>
			<span class="simple-button-burgundi disabled-burgundi">Disabled</span>
		</div>
		<div class="button-code">
			<div class="button-code-header">SCSS</div>
						<pre>
							<code>
								<span class="token">.simple-button</span> <span class="punctuation">{</span>
								<span class="property">display: </span><span class="function">flex;</span>
								<span class="property">justify-content:</span> <span class="function">center;</span>
								<span class="property">align-items: </span><span class="function">center;</span>
								<span class="property">width: </span><span class="function">155px;</span>
								<span class="property">height: </span><span class="function">40px;</span>
								<span class="property">border-radius:</span> <span class="function">2px;</span>
								<span class="property">font-size: </span><span class="function">16px;</span>
								<span class="property">font-weight: </span><span class="function">500;</span>
								<span class="property">color: </span><span class="function">#9d1e63;</span>
								<span class="property">background:</span> <span class="function">white;</span>
								<span class="property">box-shadow:</span><span class="function">0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 <br> rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);</span><br>
								<span class="property">text-transform: </span> <span class="function">uppercase;</span>
								<span class="property">cursor: </span><span class="function">pointer;</span>
								<span class="property">transition: </span> <span class="function">all ease .25s;</span>
								<span class="token">&:hover</span><span class="punctuation">{</span>
								<span class="property">background-color:</span> <span class="function">#ffffff;</span>
								<span class="punctuation">}</span>
								<span class="token">&:active</span> <span class="punctuation">{</span>
								<span class="property">box-shadow:</span> <span class="function">0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px <br> rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);</span>
								<span class="property">background-color:</span> <span class="function">#E0E0E0;</span>

								<span class="punctuation">}</span>
								<span class="punctuation">}</span>

								<span class="token">.disabled</span> <span class="punctuation">{</span>
								<span class="property">opacity:</span> <span class="function">0.65;</span>
								<span class="property">color:</span> <span class="function">#757575;</span>
								<span class="punctuation">}</span>
							</code>
						</pre>
		</div>
	</div>
	<div class="paragraphs">
		<h2>Plus button</h2>
		<p>Данная кнопка отвечает за добавление элементов и проч. Описано 4 состояния (нормальное, в фокусе, нажато и отключено). Не путать с пунктом "Add" в выпадающем меню (см. пункт Popup menus)</p>
	</div>
	<div class="buttons-layout">
		<div class="button-card">
			<div class="plus-button plus-normal">+</div>
			<div class="plus-button plus-focused">+</div>
			<div class="plus-button plus-pressed">+</div>
			<div class="plus-button plus-disabled">+</div>

			<div class="plus-button plus-normal rounded">+</div>
			<div class="plus-button plus-focused rounded">+</div>
			<div class="plus-button plus-pressed rounded">+</div>
			<div class="plus-button plus-disabled rounded">+</div>
		</div>
		<div class="button-code">
			<div class="button-code-header">SCSS</div>
						<pre>
							<code>
								<span class="token">.plus-button</span> <span class="punctuation">{</span>
								<span class="property">display: </span><span class="function">flex;</span>
								<span class="property">justify-content:</span> <span class="function">center;</span>
								<span class="property">align-items: </span><span class="function">center;</span>
								<span class="property">width: </span><span class="function">40px;</span>
								<span class="property">height: </span><span class="function">40px;</span>
								<span class="property">border-radius:</span> <span class="function">2px;</span>
								<span class="property">font-size: </span><span class="function">30px;</span>
								<span class="property">font-weight: </span><span class="function">300;</span>
								<span class="property">color: </span><span class="function">white;</span>
								<span class="property">background-color:</span> <span class="function">#4CAF50;</span>
								<span class="property">box-shadow:</span><span class="function">0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 <br> rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);</span>
								<span class="property">cursor: </span><span class="function">pointer;</span>
								<span class="property">transition: </span> <span class="function">all ease .25s;</span>
								<span class="token">&:hover</span><span class="punctuation">{</span>
								<span class="property">background-color:</span> <span class="function">#66BB6A;</span>
								<span class="punctuation">}</span>
								<span class="token">&:active</span> <span class="punctuation">{</span>
								<span class="property">box-shadow:</span> <span class="function">0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px <br> rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);</span>
								<span class="property">background-color:</span> <span class="function">#388E3C;</span>

								<span class="punctuation">}</span>
								<span class="punctuation">}</span>

								<span class="token">.disabled</span> <span class="punctuation">{</span>
								<span class="property">opacity:</span> <span class="function">0.45;</span>
								<span class="property">background-color:</span> <span class="function">#4CAF50;</span>
								<span class="punctuation">}</span>
							</code>
						</pre>
		</div>
	</div>
	<div class="paragraphs">
		<h2>Delete button</h2>
		<p>Данная кнопка предназначена для быстрого удаления элементов</p>
	</div>
	<div class="buttons-layout">
		<div class="button-card">
			<div class="delete-button delete-normal"></div>
			<div class="delete-button delete-focused"></div>
			<div class="delete-button delete-pressed"></div>
			<div class="delete-button delete-disabled"></div>

			<div class="delete-button rounded delete-normal"></div>
			<div class="delete-button rounded delete-focused"></div>
			<div class="delete-button rounded delete-pressed"></div>
			<div class="delete-button rounded delete-disabled"></div>
		</div>
		<div class="button-code">
			<div class="button-code-header">SCSS</div>
						<pre>
							<code>
								<span class="token">.delete-button</span> <span class="punctuation">{</span>
								<span class="property">display: </span><span class="function">flex;</span>
								<span class="property">justify-content:</span> <span class="function">center;</span>
								<span class="property">align-items: </span><span class="function">center;</span>
								<span class="property">width: </span><span class="function">40px;</span>
								<span class="property">height: </span><span class="function">40px;</span>
								<span class="property">border-radius:</span> <span class="function">2px;</span>
								<span class="property">background-color:</span> <span class="function">#F44336;</span>
								<span class="property">box-shadow:</span><span class="function">0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 <br> rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);</span>
								<span class="property">cursor: </span><span class="function">pointer;</span>
								<span class="property">transition: </span> <span class="function">all ease .25s;</span>
								<span class="token">&:hover</span><span class="punctuation">{</span>
								<span class="property">background-color:</span> <span class="function">#D32F2F;</span>
								<span class="punctuation">}</span>
								<span class="token">&:active</span> <span class="punctuation">{</span>
								<span class="property">box-shadow:</span> <span class="function">0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px <br> rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);</span>
								<br><span class="property">background-color:</span><span class="function">#E53935;</span>
								<span class="punctuation">}</span>
								<span class="punctuation">}</span>
								<span class="token">.disabled</span> <span class="punctuation">{</span>
								<span class="property">opacity:</span> <span class="function">0.45;</span>
								<span class="property">background-color:</span> <span class="function">#F44336;</span>
								<span class="punctuation">}</span>
							</code>
						</pre>
		</div>
	</div>
	<div class="paragraphs">
		<h2>Switcher</h2>
		<p>Кнопки типа Switcher необходимы для быстрого выбора типа модуля.</p>
	</div>
	<div class="buttons-layout">
		<div class="button-card">
			<div class="selector">
				<input type="radio" id="radiobutton" name="sort" checked />
				<label for="radiobutton">Type one</label>
				<input type="radio" id="checkbox" name="sort">
				<label for="checkbox">Type two</label>
			</div>
		</div>
		<div class="button-code">
			<div class="button-code-header">SCSS</div>
						<pre>
							<code>
								<span class="token">.selector</span> <span class="punctuation">{</span>
								<span class="property">width: </span><span class="function">100%;</span>
								<span class="property">height:</span> <span class="function">100%;</span>
								<span class="property">display: </span><span class="function">flex;</span>
								<span class="property">justify-content: </span><span class="function">center;</span>
								<span class="property">align-items: </span><span class="function">40px;</span>
								<span class="property">padding:</span> <span class="function">0 10px;</span>
								<span class="token">input[type=radio]</span><span class="punctuation">{</span>
								<span class="property">display:</span><span class="function">none;</span>
								<span class="punctuation">}</span>
								<span class="token">label</span><span class="punctuation">{</span>
								<span class="property">display:</span><span class="function">inline-block;</span>
								<span class="punctuation">}</span>
								<span class="token">input[type=radio] + label</span><span class="punctuation">{</span>
								<span class="property">position:</span> <span class="function">relative;</span>
								<span class="property">width:</span> <span class="function">150px;</span>
								<span class="property">height:</span> <span class="function">40px;</span>
								<span class="property">display:</span> <span class="function">flex;</span>
								<span class="property">justify-content:</span> <span class="function">center;</span>
								<span class="property">align-items:</span> <span class="function">center;</span>
								<span class="property">font-size:</span> <span class="function">14px;</span>
								<span class="property">text-transform:</span> <span class="function">uppercase;</span>
								<span class="property">font-weight:</span> <span class="function">bold;</span>
								<span class="property">color:</span> <span class="function">#212121;</span>
								<span class="property">text-align:</span> <span class="function">center;</span>
								<span class="property">cursor:</span> <span class="function">pointer;</span>
								<span class="property">transition:</span> <span class="function">all .25s;</span>
								<span class="property">box-shadow:</span> <span class="function">0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);</span>
								<span class="property">background-color:</span> <span class="function">;</span>
								<span class="property">opacity:</span> <span class="function">#fafafa;</span>
								<span class="property">:</span> <span class="function">0.6;</span>
								<span class="token">&:hover</span> <span class="punctuation">{</span>
								<span class="property">background-color:</span><span class="function">#EEEEEE;</span>
								<span class="punctuation">}</span>
								<span class="token">&:active</span> <span class="punctuation">{</span>
								<span class="property">box-shadow:</span><span class="function">0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);</span>
								<span class="property">background-color:</span><span class="function">#9d1f60;</span>
								<span class="property">color:</span><span class="function">white;</span>
								<span class="punctuation">}</span>
								<span class="punctuation">}</span>
								<span class="token">label[for="type1"]</span> <span class="punctuation">{</span>
								<span class="property">border-radius:</span><span class="function">3px 0 0 3px;</span>
								<span class="punctuation">}</span>
								<span class="token">label[for="type2"]</span> <span class="punctuation">{</span>
								<span class="property">border-radius:</span><span class="function">0 3px 3px 0;</span>
								<span class="property">margin-left:</span><span class="function">1px;</span>
								<span class="punctuation">}</span>
								<span class="token">input[type="radio"]:checked + label</span> <span class="punctuation">{</span>
								<span class="property">z-index:</span><span class="function">1;</span>
								<span class="property">background-color:</span><span class="function">#9d1f60;</span>
								<span class="property">color:</span><span class="function">white;</span>
								<span class="property">box-shadow:</span><span class="function">0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);</span>
								<span class="property">opacity:</span><span class="function">1;</span>
								<span class="punctuation">}</span>
								<span class="punctuation">}</span>
							</code>
						</pre>
		</div>
	</div>
</section>