<section class="colors header" id="colors">Colors</section>
<section class="colors body">
	<div class="paragraphs">
		<h1>Color palette</h1>
		<p>На этой странице указаны основные цвета, используемые при разработке SHELL 2.0 и SHELL CMS. Для удобствауказаны цветовые коды и основные элементы использования этих цветов.</p>
		<p>В шапках палеттов указаны самые часто используемые цвета. Для удобства в конце создан паллет тоьько с основными частоиспользуемыми цветами и их цветовыми кодами.</p>
	</div>
	<div class="pallets">
		<div class="pallete-card">
			<div class="pallete-card-header black">Black palette</div>
			<div class="pallete-card-body">
				<div class="pallete-color-line blacks" style="background-color: #FAFAFA"><span>Backgrounds</span> <span>#FAFAFA</span></div>
				<div class="pallete-color-line blacks" style="background-color: #F5F5F5"><span>Backgrounds</span> <span>#F5F5F5</span></div>
				<div class="pallete-color-line blacks" style="background-color: #EEEEEE"><span>Backgrounds/Buttons</span> <span>#EEEEEE</span></div>
				<div class="pallete-color-line blacks" style="background-color: #E0E0E0"><span>Backgrounds/Borders/Buttons/Disabled text</span> <span>#E0E0E0</span></div>
				<div class="pallete-color-line blacks" style="background-color: #BDBDBD"><span>Backgrounds/Borders/Buttons/Disabled text</span> <span>#BDBDBD</span></div>
				<div class="pallete-color-line blacks" style="background-color: #9E9E9E"><span>Backgrounds/Borders/Disabled text</span> <span>#9E9E9E</span></div>
				<div class="pallete-color-line blacks" style="background-color: #757575"><span style="color: white;">Backgrounds/Borders/Disabled text</span> <span style="color: white;">#757575</span></div>
				<div class="pallete-color-line blacks" style="background-color: #616161"><span style="color: white;">Backgrounds/Borders/Enabled text/Text</span> <span style="color: white;">#616161</span></div>
				<div class="pallete-color-line blacks" style="background-color: #424242"><span style="color: white;">Backgrounds/Borders/Enabled text/Text</span> <span style="color: white;">#424242</span></div>
				<div class="pallete-color-line blacks" style="background-color: #212121"><span style="color: white;">Backgrounds/Borders/Enabled text/Text</span> <span style="color: white;">#212121</span></div>
			</div>
		</div>
		<div class="pallete-card">
			<div class="pallete-card-header" style="background-color: #9d1f63;">Pink pallete</div>
			<div class="pallete-card-body">
				<div class="pallete-color-line" style="background-color: #FCE4EC;"><span>Backgrounds / Buttons / Icons</span><span>#FCE4EC</span></div>
				<div class="pallete-color-line" style="background-color: #F8BBD0;"><span>Backgrounds / Buttons / Icons</span><span>#F8BBD0</span></div>
				<div class="pallete-color-line" style="background-color: #F48FB1;"><span>Backgrounds / Buttons / Icons</span><span>#F48FB1</span></div>
				<div class="pallete-color-line" style="background-color: #F06292;"><span style="color: white;">Backgrounds / Buttons / Icons</span><span style="color: white;">#F06292</span></div>
				<div class="pallete-color-line" style="background-color: #EC407A;"><span style="color: white;">Backgrounds / Buttons / Icons</span><span style="color: white;">#EC407A</span></div>
				<div class="pallete-color-line" style="background-color: #E91E63;"><span style="color: white;">Backgrounds / Buttons / Icons</span><span style="color: white;">#E91E63</span></div>
				<div class="pallete-color-line" style="background-color: #D81B60;"><span style="color: white;">Backgrounds / Buttons / Icons</span><span style="color: white;">#D81B60</span></div>
				<div class="pallete-color-line" style="background-color: #C2185B;"><span style="color: white;">Backgrounds / Buttons / Icons</span><span style="color: white;">#C2185B</span></div>
				<div class="pallete-color-line" style="background-color: #AD1457;"><span style="color: white;">Backgrounds / Tables / Buttons / Icons</span><span style="color: white;">#AD1457</span></div>
				<div class="pallete-color-line" style="background-color: #9d1f63;"><span style="color: white;">Main color / Tables / Backgrounds / Borders / Buttons / Icons / Text / Hovers / Headers</span><span style="color: white;">#9D1F63</span></div>
			</div>
		</div>
		<div class="pallete-card">
			<div class="pallete-card-header" style="background-color: #1565C0;">Blue palette</div>
			<div class="pallete-card-body">
				<div class="pallete-color-line" style="background-color: #E3F2FD;"><span>Backgrounds / Disabled elements / Hovers</span><span>#E3F2FD</span></div>
				<div class="pallete-color-line" style="background-color: #BBDEFB;"><span>Backgrounds / Disabled elements / Hovers</span><span>#BBDEFB</span></div>
				<div class="pallete-color-line" style="background-color: #90CAF9;"><span>Backgrounds / Disabled elements / Hovers</span><span>#90CAF9</span></div>
				<div class="pallete-color-line" style="background-color: #64B5F6;"><span>Backgrounds / Disabled elements / Hovers / Headers</span><span>#64B5F6</span></div>
				<div class="pallete-color-line" style="background-color: #42A5F5;"><span>Backgrounds / Disabled elements / Hovers / Headers/ Links / Text</span><span>#42A5F5</span></div>
				<div class="pallete-color-line" style="background-color: #2196F3;"><span style="color: white;">Backgrounds / Disabled elements / Hovers / Headers/ Links / Text</span><span style="color: white;">#2196F3</span></div>
				<div class="pallete-color-line" style="background-color: #1E88E5;"><span style="color: white;">Backgrounds / Disabled elements / Hovers / Headers/ Text</span><span style="color: white;">#1E88E5</span></div>
				<div class="pallete-color-line" style="background-color: #1976D2;"><span style="color: white;">Backgrounds / Disabled elements / Hovers / Headers/ Text</span><span style="color: white;">#1976D2</span></div>
				<div class="pallete-color-line" style="background-color: #1565C0;"><span style="color: white;">Main color / Backgrounds / Disabled elements / Hovers / Headers / Links / Text</span><span style="color: white;">#1565C0</span></div>
				<div class="pallete-color-line" style="background-color: #0D47A1;"><span style="color: white;">Backgrounds / Disabled elements / Hovers / Headers/ Links / Text</span><span style="color: white;">#0D47A1</span></div>
			</div>
		</div>
		<div class="pallete-card">
			<div class="pallete-card-header" style="background-color: #4CAF50;">Green pallete</div>
			<div class="pallete-card-body">
				<div class="pallete-color-line" style="background-color: #E8F5E9;"><span></span><span>#E8F5E9</span></div>
				<div class="pallete-color-line" style="background-color: #C8E6C9;"><span></span><span>#C8E6C9</span></div>
				<div class="pallete-color-line" style="background-color: #A5D6A7;"><span></span><span>#A5D6A7</span></div>
				<div class="pallete-color-line" style="background-color: #81C784;"><span></span><span>#81C784</span></div>
				<div class="pallete-color-line" style="background-color: #66BB6A;"><span></span><span>#66BB6A</span></div>
				<div class="pallete-color-line" style="background-color: #4CAF50;"><span></span><span>#4CAF50</span></div>
				<div class="pallete-color-line" style="background-color: #43A047;"><span style="color: white;"></span><span style="color: white;">#43A047</span></div>
				<div class="pallete-color-line" style="background-color: #388E3C;"><span style="color: white;"></span><span style="color: white;">#388E3C</span></div>
				<div class="pallete-color-line" style="background-color: #2E7D32;"><span style="color: white;"></span><span style="color: white;">#2E7D32</span></div>
				<div class="pallete-color-line" style="background-color: #1B5E20;"><span style="color: white;"></span><span style="color: white;">#1B5E20</span></div>
			</div>
		</div>
		<div class="pallete-card">
			<div class="pallete-card-header" style="background-color: #9d1f63;">Main colors</div>
			<div class="pallete-card-body">
				<div class="pallete-color-line" style="background-color: #ffffff;"><span>FULLY WHITE</span><span>#FFFFFF</span></div>
				<div class="pallete-color-line" style="background-color: #FAFAFA;"><span>WHITE</span><span>#FAFAFA</span></div>
				<div class="pallete-color-line" style="background-color: #F5F5F5;"><span>LIGHT GREY</span><span>#F5F5F5</span></div>
				<div class="pallete-color-line" style="background-color: #9E9E9E;"><span style="color: white;">GREY</span><span style="color: white;">#9E9E9E</span></div>
				<div class="pallete-color-line" style="background-color: #212121;"><span style="color: white;">BLACK</span><span style="color: white;">#212121</span></div>
				<div class="pallete-color-line" style="background-color: #000000;"><span style="color: white">FULLY BLACK</span><span style="color: white">#000000</span></div>
				<div class="pallete-color-line" style="background-color: #9D1F63;"><span style="color: white">BURGUNDY</span><span style="color: white">#9D1F63</span></div>
				<div class="pallete-color-line" style="background-color: #1565C0"><span style="color: white;">BLUE</span><span style="color: white;">#1565C0</span></div>
				<div class="pallete-color-line" style="background-color: #2196F3;"><span style="color: white;">LIGHT BLUE</span><span style="color: white;">#2196F3</span></div>
				<div class="pallete-color-line" style="background-color: #4CAF50;"><span style="color: white;">GREEN</span><span style="color: white;">#4CAF50</span></div>
			</div>
		</div>

	</div>
</section>