<section class="icons header" id="icons">Icons</section>
<section class="icons body">
	<div class="paragraphs">
		<h2>Icons Set White</h2>
		<p>В этом сете указаны все иконки на белом фоне, используемые в продукте.</p>
	</div>
	<div class="icon-cards-wrapper">
		<div class="icon-card">
			<div class="icon-holder ">
				<img src="images/delete-black.png">
			</div>
			<div class="icon-title">Delete</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/arrow-down.png"/></div>
			<div class="icon-title">Arrow down</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/arrow-right.png"/></div>
			<div class="icon-title">Arrow-right</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/burger.png"/></div>
			<div class="icon-title">Burger</div>
		</div>

		<div class="icon-card">
			<div class="icon-holder"><img src="images/loupe.png"/></div>
			<div class="icon-title">Loupe</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/settings.png"/></div>
			<div class="icon-title">Settings</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/pencil.png"/></div>
			<div class="icon-title">Edit</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/dots.png"/></div>
			<div class="icon-title">Dots</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/arrow-bottom-black.png"/></div>
			<div class="icon-title">Arrow next</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/arrow-topblack.png"/></div>
			<div class="icon-title">Arrow prev</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/plus.png"/></div>
			<div class="icon-title">Add</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder">
				<img src="images/play-black.png"/>
			</div>
			<div class="icon-title">Play</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder">
				<img src="images/pause-black.png"/>
			</div>
			<div class="icon-title">pause</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder">
				<img src="images/info-black.png"/>
			</div>
			<div class="icon-title">info</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder">
				<img src="images/upload-black.png"/>
			</div>
			<div class="icon-title">Upload</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder">
				<img src="images/reupload-black.png"/>
			</div>
			<div class="icon-title">Reupload</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder">
				<img src="images/open.png"/>
			</div>
			<div class="icon-title">Open</div>
		</div>
	</div>
	<div class="download-section">
		<a href="https://github.com/dmluzhin/guideline/blob/gh-pages/build/images/downloads/white_set_png.rar?raw=true" class="download-link">Download PNG Set</a>
		<a href="#" class="download-link link-disabled">Download SVG Set</a>
	</div>
	<div class="paragraphs">
		<h2>Icon Set Black</h2>
		<p>В этом сете указаны все иконки на темном фоне, используемые в продукте.</p>
	</div>
	<div class="icon-cards-wrapper">
		<div class="icon-card blacked">
			<div class="icon-holder ">
				<img src="images/delete.png">
			</div>
			<div class="icon-title">Delete</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/arrow-down-white.png"/></div>
			<div class="icon-title">Arrow down</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/arrow-right-white.png"/></div>
			<div class="icon-title">Arrow-right</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/burger-white.png"/></div>
			<div class="icon-title">Burger</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/loupe-white.png"/></div>
			<div class="icon-title">Loupe</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/settings-white.png"/></div>
			<div class="icon-title">Settings</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/pencil-white.png"/></div>
			<div class="icon-title">Edit</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/dots-white.png"/></div>
			<div class="icon-title">Dots</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/arrow-bottom-white.png"/></div>
			<div class="icon-title">Arrow next</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/arrow-top-white.png"/></div>
			<div class="icon-title">Arrow prev</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder"><img src="images/plus-white.png"/></div>
			<div class="icon-title">Add</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder">
				<img src="images/play-white.png"/>
			</div>
			<div class="icon-title">Play</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder">
				<img src="images/pause-white.png"/>
			</div>
			<div class="icon-title">pause</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder">
				<img src="images/info-white.png"/>
			</div>
			<div class="icon-title">info</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder">
				<img src="images/upload-white.png"/>
			</div>
			<div class="icon-title">Upload</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder">
				<img src="images/reupload-white.png"/>
			</div>
			<div class="icon-title">Reupload</div>
		</div>
		<div class="icon-card blacked">
			<div class="icon-holder">
				<img src="images/open_white.png"/>
			</div>
			<div class="icon-title">Open</div>
		</div>
	</div>
	<div class="download-section">
		<a href="https://github.com/dmluzhin/guideline/blob/gh-pages/build/images/downloads/black_set_png.rar?raw=true" class="download-link">Download PNG Set</a>
		<a href="#" class="download-link link-disabled">Download SVG Set</a>
	</div>
	<div class="paragraphs">
		<h2>Text Edit Icon Set</h2>
		<p>В этом сете указаны иконки для работы с текстом</p>
	</div>
	<div class="icon-cards-wrapper">
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/bold.png"/></div>
			<div class="icon-title">Bold</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/italic.png"/></div>
			<div class="icon-title">Italic</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/underline.png"/></div>
			<div class="icon-title">Underline</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/bullets.png"/></div>
			<div class="icon-title">Bullet List</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/num_list.png"/></div>
			<div class="icon-title">Numbered List</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/link.png"/></div>
			<div class="icon-title">Link</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/attach.png"/></div>
			<div class="icon-title">Attach File</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/align_left.png"/></div>
			<div class="icon-title">Align Left</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/align_center.png"/></div>
			<div class="icon-title">Align Center</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/align_right.png"/></div>
			<div class="icon-title">Align Right</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/justify.png"/></div>
			<div class="icon-title">justify</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/add_indent.png"/></div>
			<div class="icon-title">Add Indent</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/delete_indent.png"/></div>
			<div class="icon-title">Delete Indent</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/add_image.png"/></div>
			<div class="icon-title">Add Image</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/text-size.png"/></div>
			<div class="icon-title">Text Size</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/sup.png"/></div>
			<div class="icon-title">Riser</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/sub.png"/></div>
			<div class="icon-title">interlinear</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/popup.png"/></div>
			<div class="icon-title">Popup</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/lightbox.png"/></div>
			<div class="icon-title">Lightbox</div>
		</div>
		<div class="icon-card">
			<div class="icon-holder"><img src="images/text_set/input.png"/></div>
			<div class="icon-title">Input</div>
		</div><div class="icon-card">
			<div class="icon-holder"><img src="images/open.png"/></div>
			<div class="icon-title">Open</div>
		</div>
	</div>
	<div class="download-section">
		<a href="https://github.com/dmluzhin/guideline/blob/gh-pages/build/images/downloads/text_set_png.rar?raw=true" class="download-link">Download png Set</a>
		<a href="https://github.com/dmluzhin/guideline/blob/gh-pages/build/images/downloads/text_set_svg.rar?raw=true" class="download-link">Download SVG Set</a>
	</div>
</section>