<section class="layout header" id="layout">Layout</section>
<section class="layout body">
	<div class="module">
		<div class="module-body">
				<h2>Text Fields</h2>
				<p>Text Field - редактируемое текстовое поле. В код встраивается, как обычный блок с атрибутом <span class="attribute">contenteditable</span>, что позволяет превратить данный блок в текстовое поле, заполняемое с клавиатуры.</p>
				<p>В Text Field есть возможность вставлять практические любые текстовые элементы. Добавляются они с помощью элемента управления <a href="#tools">Tools</a>.</p>
				<ul>Типы контента, допустимые в Text Field:
					<li>Simple Text - Обычный текст, обернутый в тэг div</li>
					<li>Bold Text - Обычный текст, обернутый в тэг strong</li>
					<li>Italic Text - Обычный текст, обернутый в тэг em</li>
					<li>Undeline Text - Текст с нижним подчеркиванием. Обычный текст оборачивается в тэг u</li>
					<li>Bullet List - Список с буллитами</li>
					<li>Numbered List - Нумерованный список</li>
					<li>Table - Таблица</li>
					<li>Popup - Встраевомый попап (высплывающее окно)</li>
					<li>Lightbox</li>
				</ul>
		</div>
		<div class="module-group">
			<div class="image-box x1">
				<div class="text-field shadow-dp2" contenteditable></div>
			</div>
		</div>
	</div>
</section>