<section class="menus header" id="menus">Menus</section>
<section class="menus body">
	<div class="paragraphs">
		<h1>Menu types</h1>
	</div>

	<div class="module">
		<div class="module-body">
			<h2>Navbar Menu</h2>
			<p>Navbar-menu - тип меню, зафиксированный слева. Способен скрываться по нажатию на Burger (см. Icons). Многофункциональное меню, способное содержать в себе подменю. Так же относится к категории Layout, где будут подробнее описаны части ее верстки.  </p>
			<p>Navbar-menu способен содержать в себе несколько разделов меню. Так в SHELL2.0 Navbar-menu отображает тройную вложенность:</p>
		</div>
		<div class="module-group">
			<div class="image-box x1">
				<img src="images/gif/navbar-menu.gif"/>
			</div>
		</div>
	</div>

	<div class="module">
		<div class="module-body">
			<h2>Dropdown menu</h2>
			<p>Dropdown menu - используется для различных действий в CMS. Определяется Dropdown menu с помощью иконки DOTS. По клику на DOTS выпадает меню с различными пунктами. Основными пунктами являются Add, Edit и Delete.</p>
			<p>Все пункты Dropdown menu обозначаются иконками слева и текстом справа.</p>
		</div>
		<div class="module-group">
			<div class="image-box x3">
				<div class="menu-bubble js-menu menu-block">
					<div class="menu--box">
						<div class="menu--box-content">
							<div class="menu--box-content-icon plus icons-bg"></div>
							<div class="menu--box-content-text">Add</div>
						</div>
					</div>
					<div class="menu--box">
						<div class="menu--box-content">
							<div class="menu--box-content-icon edit icons-bg"></div>
							<div class="menu--box-content-text">Edit</div>
						</div>
					</div>
					<div class="menu--box">
						<div class="menu--box-content">
							<div class="menu--box-content-icon delete icons-bg"></div>
							<div class="menu--box-content-text">Delete</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="module">
		<div class="module-body">
			<h2>Switcher</h2>
			<p>Switsher (более известный, как Tabs) позволяет безболезненно переключаться между понктами меню. Был реализован в ранней версии SHELL CMS, но пока признан ненужным.</p>
			<p>Имеет аналог в пункте <a class="anchor" href="#buttons">Buttons</a>, который призван переключать тип модуля (см. <a class="anchor" id="#rbchb">Radiobutton-checkbox</a>).</p>
		</div>
	</div>
</section>