<section class="recommendations header" id="rec">Recommendations / Рекомендации</section>
<sections class="recommendations body">
	<div class="paragraphs">
		<h2>Таблицы</h2>

		<p>Как должны выглядеть Таблицы в модулях + HTML и JSON для разных модулей.</p>
	</div>
	<div class="module">
		<div class="module-group">
			<div class="image-box x3">
				<table class="module-table">
					<caption>The Steps Included in the Pre-Work Inspection</caption>
					<tbody>
						<tr class="js-backlight">
							<td class="w50 js-text"><strong>Interior</strong></td>
							<td class="w50 js-text"><strong>Exterior</strong></td>
						</tr>
						<tr class="js-backlight">
							<td class="w50 js-text">
								<div>Checking the seats and carpet for rips, tears or stains.</div>
							</td>
							<td class="w50 js-text">
								<div>Checking the condition of front and rear bumpers.</div>
							</td>
						</tr>
						<tr class="js-backlight">
							<td class="w50 js-text">
								<div>Checking the dashboard and trim for cracks, scratches and damage.</div>
							</td>
							<td class="w50 js-text">
								<div>Checking the condition of the vehicle light lenses.</div>
							</td>
						</tr>
						<tr class="js-backlight">
							<td class="w50 js-text">
								<div>Checking that all equipment controls and switches are present.</div>
							</td>
							<td class="w50 js-text">
								<div>Checking the condition of the door mirrors and glass.</div>
							</td>
						</tr>
						<tr class="js-backlight">
							<td class="w50 js-text">
								<div>Checking that all floor mats are present, and checking for stains and damage.</div>
							</td>
							<td class="w50 js-text">
								<div>Checking the body panels for scratches, dents and damage.</div>
							</td>
						</tr>
						<tr class="js-backlight">
							<td class="w50 js-text">
								<div>Documenting any valuables left inside the vehicle on the pre-work inspection sheet.</div>
							</td>
							<td class="w50 js-text">
								<div>Checking the alloy wheels and wheel trims for scratches and cracks.</div>
							</td>
						</tr>
						<tr class="js-backlight">
							<td class="w50 js-text"></td>
							<td class="w50 js-text">
								<div>Checking the windscreen and the other glazing for chips and cracks.</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</sections>
</section>