<section class="typography header" id="typography">Typography</section>
<section class="typography body">
	<div class="paragraphs">
		<h2>Типографика для модулей. Шрифт <span class="verdana">Verdana</span></h2>
		<p>Среди модулей основным шрифтом выбран <span class="verdana">Verdana</span>. Ниже приведены инструкции по применению данного шрифта в модулях, а так же стили для их применения в дальнейшем.</p>
	</div>
	<table class="typography-table verdana">
		<caption>Типографика для модулей. Шрифт Verdana.<br> Параметры текста для 1920x1080</caption>
		<thead>
			<tr>
				<th>Тэг / Элемент</th>
				<th>Стиль</th>
				<th>Параметры</th>
				<th>Описание</th>
				<th>Пример</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><code>h1</code></td>
				<td>¯\_(ツ)_/¯</td>
				<td>
					<code>font-size: 25px;</code>
					<code>font-weight: bold;</code>
					<code>color: #9d1f60;</code>
					<code>margin-bottom: 0;</code>
				</td>
				<td>Основной заголовок</td>
				<td><h1>Heading 1</h1></td>
			</tr>
			<tr>
				<td><code>h2</code></td>
				<td>¯\_(ツ)_/¯</td>
				<td>
					<code>font-size: 22px;</code>
					<code>font-weight: bold;</code>
					<code>color: #9d1f60;</code>
				</td>
				<td>Вторичный заголовок</td>
				<td><h2>Heading 2</h2></td>
			</tr>
			<tr>
				<td><code>h3</code></td>
				<td>¯\_(ツ)_/¯</td>
				<td>
					<code>font-size: 22px;</code>
					<code>font-weight: normal;</code>
					<code>color: #9d1f60;</code>
				</td>
				<td>Заголовок третьей степени</td>
				<td><h3>Heading 3</h3></td>
			</tr>
			<tr>
				<td><code>h4</code></td>
				<td>¯\_(ツ)_/¯</td>
				<td>
					<code>font-size: 20px;</code>
					<code>font-weight: normal;</code>
					<code>color: #9d1f60;</code>
				</td>
				<td>Заголовок четвертой степени</td>
				<td><h4>Heading 4</h4></td>
			</tr>
			<tr>
				<td><code>p</code></td>
				<td>¯\_(ツ)_/¯</td>
				<td>
					<code>font-size: 20px;</code>
					<code>line-height: 24px;</code>
					<code>margin-bottom: 10px;</code>
					<code>padding: 0;</code>
				</td>
				<td>Параграф - основной массив текста</td>
				<td>
					<p>Это тестовый параграф, первый абзац. Так же как и текст Рыбы.</p>
					<p>А это уже второй параграф. Он здесь чтобы показать отступ и чуть длиннее, чтобы показать интерлиньяж.</p>
				</td>
			</tr>
			<tr>
				<td><code>ul</code><code>li</code></td>
				<td>¯\_(ツ)_/¯</td>
				<td>
					<code>font-size: 20px;</code>
					<code>line-height: 24px;</code>
					<code>padding-left: 10px;</code>
					<code>padding-bottom: 10px;</code>
					<code>list-style-image: url("../images/bullet.png");</code>
				</td>
				<td>Списковый элемент. Имеет нестандартную буллит (bullet.svg). Содержать вложенные списки, в тч и нумерованные. Нумерованные списки описаны ниже.</td>
				<td>
					<ul>
						<li>Care Worker</li>
						<li>Support Worker</li>
						<li>Are employed people who provide care and support to others</li>
						<li></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><code>strong</code></td>
				<td>¯\_(ツ)_/¯</td>
				<td>¯\_(ツ)_/¯</td>
				<td>Жирный текст. Используется тег. Может быть внутри параграфов. Да вообще чего угодно. Он просто делает вещи немного жирнее.</td>
				<td><strong>Это жирный текст.</strong></td>
			</tr>
			<tr>
				<td><code>a</code></td>
				<td>¯\_(ツ)_/¯</td>
				<td>
					<code>color: #0087b4;</code>
					<code>cursor: pointer;</code>
					<code>font-size: 20px;</code>
				</td>
				<td>Ссылка. Отличается от основного текста светом, а так же кликабельна.</td>
				<td><a href="http://lovely-dogs.ru/wp-content/uploads/2012/09/MQ9HpyKY-1024x707.jpg">Корги</a></td>
			</tr>
		</tbody>
	</table>
</section>