/*Bower module*/

@import "../../bower_components/normalize.css";
@import "parts/mixins";

.body {
  width: 100%;
  min-height: 200px;
  padding: 30px 0 0;
}
.header {
  width: 100%;
  height: 100px;
  background-color: #9d1f63;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  font-size: 48px;
  color: white;
  font-weight: 300;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.container {
  width: 100%;
  min-height: 40px;
  margin: 20px 0;
}
.flex-end {
  @include flex-end;
}
.flex-start {
  @include flex-start;
}
.guideline-body {
  .paragraphs {
    width: 100%;
    max-width: 700px;
    padding: 15px 30px;
  }
  h1 {
    color: #9d1f60;
    font-size: 34px;
    margin-bottom: 30px;
    font-weight: 300;
  }
  h2 {
    color: #9d1f60;
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: 300;
  }
  p {
    line-height: 1.4;
    font-size: 16px;
    padding-bottom: 15px;
  }
  a {
    color: #1976D2;
    text-decoration: none;
    &:hover {
      color: #42A5F5;
      transition: all ease .25s;
    }
  }
  ul {

  }
  li {
    font-size: 16px;
    list-style-image: url("../images/bullet.png");
  }
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;;
  .side-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: #fafafa;
    border-right: 1px solid #CCCCCC;
    .logo {
      width: 100%;
      height: 100px;
      border-bottom: 1px solid #CCCCCC;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 24px;
    }
    .menu {
      width: 100%;
      height: calc(100% - 100px);
      background-color: #fafafa;
      padding: 20px;
      ul {
        li {
          padding: 10px 0;
          a {
            color: #0D47A1;
            transition: all 0.25s;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            &:hover {
              color: #1565C0;
            }
          }
        }
      }
    }
  }
  .guideline-workplace {
    width: calc(100% - 240px);
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fafafa;
    padding-bottom: 100px;
    box-sizing: border-box;
    overflow: hidden;
  }

}

pre {
  overflow: auto;
  color: white;
  background: #1d1f21;
  padding: 0;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  position: relative;
  overflow: auto;
  height: calc(100% - 50px);
  border-radius: 0 0 2px 2px;
  code {
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    font-size: 0.9rem;
    white-space: pre;
    display: block;
    background-color: #212121;
    overflow: hidden;
    padding: 0 15px;
    span {
      float: left;
    }
    .token {
      color: #dfc48c;
    }
    .punctuation {
      color: white;
    }
    .property {
      color: #9b869c;
    }
    .function {
      color: #cd6a51;
    }
  }
}

.blacked {
  background-color: #212121 !important;
  color: white !important;
}
.rounded {
  border-radius: 50% !important;
}
.centered-image {
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.menu-bubble {
  min-width: 200px;
  background-color: #fafafa;
  min-height: 100px;
  box-shadow: rgba(255,255,255,.9) 0px 1px 0px inset,rgba(0,0,0,.03) 0px -1px 0px inset,rgba(0,0,0,.2) 0px 1px 3px;
  border-radius: 2px;
  opacity: 0;
  z-index: 2;
  transition: ease all .25s;
  .menu--box {
    position: relative;
    display: block;
    /*width: 100%;*/
    line-height: 20px;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
    &-content {
      display: flex;

      &-text {
        font-size: 15px;
        color: #373737;
        display: flex;
        align-items: center;
        font-weight: 100;
      }
      &-icon {
        width: 36px;
        height: 36px;
        margin-right: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
  &.menu-block {
    opacity: 1;
  }
}
.icons-bg {
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}
.edit {
  background-image: url('../images/pencil.png');
}
.plus {
  background-image: url('../images/plus.png');
}
.delete {
  background-image: url('../images/delete-black.png');
}
.dots-black {
  background-image: url("../images/dots.png");
}
.dots-white {
  background-image: url("../images/dots-white.png");
  &:hover .menu-bubble{
    display: block;
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #fafafa;
  margin: 16px;
  padding: 16px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #9d1f60;
}

.download-section {
  display: block;
  padding: 16px 25px;
}
.download-link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 16px;
}
.link-disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

/*Libs*/

@import "lib/reset";
@import "lib/typography";

/*Sections*/

@import "sections/typography";
@import "sections/buttons";
@import "sections/colors";
@import "sections/icons";
@import "sections/menus";
@import "sections/layout";
@import "sections/style";

/*Parts*/


@import "parts/buttons";
@import "parts/codeditor";
@import "parts/print";


